In [1]:
from datetime import datetime 
import pandas as pd

from main_fund import MainFund

In [2]:
fund = MainFund.load_fund()
orders = fund.pull_orders()

In [6]:
orders.columns

Index(['id', 'client_order_id', 'created_at', 'updated_at', 'submitted_at',
       'filled_at', 'expired_at', 'canceled_at', 'failed_at', 'replaced_at',
       'replaced_by', 'replaces', 'asset_id', 'symbol', 'asset_class',
       'notional', 'qty', 'filled_qty', 'filled_avg_price', 'order_class',
       'order_type', 'type', 'side', 'time_in_force', 'limit_price',
       'stop_price', 'status', 'extended_hours', 'legs', 'trail_percent',
       'trail_price', 'hwm', 'portfolio'],
      dtype='object')

In [5]:
orders.head(50)[["notional","filled_avg_price"]]

   notional filled_avg_price
0      None             None
1      None             None
2      None             None
3      None             None
4      None             None
5      None             None
6      None             None
7      None             None
8      None             None
9      None             None
10     None             None
11     None             None
12     None             None
13     None             None
14     None             None
15     None             None
16     None             None
17     None             None
18     None             None
19     None             None
20     4755             None
21     4755             None
22     4755             None
23     4755             None
24     4755             None
25     4755             None
26     4755             None
27     4755             None
28     4755             None
29     4755             None
30     4755             None
31     4755             None
32     4755             None
33     4755             None
34     4755             None
35     4755             None
36     4755             None
37     4755             None
38     4755             None
39     4755             None