In [3]:
from extractor.fred_extractor import FREDExtractor
from datetime import datetime, timedelta
import pandas as pd
from returns.products import Products

In [5]:
start = datetime(2012,1,1).strftime("%Y-%m-%d")
end = (datetime.now() - timedelta(days=1)).strftime("%Y-%m-%d")

In [6]:
FREDExtractor.spy(start,end)

     realtime_start realtime_end        date    value
0        2023-06-14   2023-06-14  2013-06-14  1626.73
1        2023-06-14   2023-06-14  2013-06-17  1639.04
2        2023-06-14   2023-06-14  2013-06-18  1651.81
3        2023-06-14   2023-06-14  2013-06-19  1628.93
4        2023-06-14   2023-06-14  2013-06-20  1588.19
...             ...          ...         ...      ...
2603     2023-06-14   2023-06-14  2023-06-07  4267.52
2604     2023-06-14   2023-06-14  2023-06-08  4293.93
2605     2023-06-14   2023-06-14  2023-06-09  4298.86
2606     2023-06-14   2023-06-14  2023-06-12  4338.93
2607     2023-06-14   2023-06-14  2023-06-13  4369.01

[2608 rows x 4 columns]